{% extends 'mutual/base.html' %}
{% load static %}

{% block content %}
    <section class="about">
        <hr>
        <h2>WELCOME!</h2>


        <h3>Hello prospective designers and painters:</h3>
        <p>Thinking about selling your arts through us? We're the top online
            provider of ready-made arts,
            and we make your dreams available for purchase to hundreds of thousands of motivated shoppers every month at
            no cost to you. Our network of arts sites is owned by Hanley Wood, the premier data and media company
            serving the residential, design, and commercial art industry, and the publisher of well-known
            magazines.
            We want to add high quality arts -- by professional painters -- that are relevant for
            today's living.
        </p>
        <p>The benefits of publishing with Art-Gallery:</p>
        <ul>
            <li>Increase your personal income</li>
            <li>Be represented by knowledgeable sales professionals who know your arts and the customers.</li>
            <li>Pay no fees to join.</li>
            <li>Benefit from a high level of customer satisfaction by partnering with the industry leader, offering
                customers free one-on-one professional advice and comprehensive online services such as Cost-to-Build
                estimating and Modification services.
            </li>
            <li>Every month, hundreds of art shoppers search our site. We have a superior search product and
                the most compelling site in the industry. More than 2 leading professional painters
                already offer their arts through our Website.
            </li>
        </ul>
        <p>To be considered for partnership, please email me at <a href="mailto:office@artgallery.bg"></a> and include:
        </p>
        <ul>
            <li>a representative art</li>
            <li>any relevant information about your practice, including any other sites on which you sell plans</li>
            <li>a website link if appropriate</li>
            <li>number of plans ready to publish</li>
            <li>your contact information</li>
        </ul>
        <hr>
    </section>
{% endblock %}